<div class="container">
<p id="notice"><%= notice %></p>
  <table class="table table-bordered">
  <tr><strong>Image:</strong></tr>
  <td><%= image_tag @feed.image.url %></td>
  <td><%=@feed.comment %></td>
  <td><%=@feed.user.name %></td>
  </table>
</div>